<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-alpha3-10043" targetFramework="net451" />
  <package id="EntityFramework.Migrations" version="7.0.0-alpha3-10043" targetFramework="net451" />
  <package id="EntityFramework.Relational" version="7.0.0-alpha3-10043" targetFramework="net451" />
  <package id="EntityFramework.SqlServer" version="7.0.0-alpha3-10043" targetFramework="net451" />
  <package id="Ix-Async" version="1.2.2" targetFramework="net451" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.18-beta-120" targetFramework="net451" />
  <package id="Microsoft.Framework.ConfigurationModel" version="1.0.0-alpha3-10031" targetFramework="net451" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-alpha3-10028" targetFramework="net451" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-alpha3-10026" targetFramework="net451" />
  <package id="Remotion.Linq" version="1.15.13.0" targetFramework="net451" />
  <package id="System.Data.Common" version="1.0.0-alpha3-10026" targetFramework="net451" />
  <package id="System.Data.SqlClient" version="1.0.0-alpha3-10029" targetFramework="net451" />
</packages>